* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$mainBlack: #222;
$mainGreen: #82b340;
$mainWhite: #fff;
$mainGrey: #ececec;
$mainLightBlue: rgb(195, 253, 255);
$mainTransition: all 250ms linear;

body {
  font-family: "Open Sans", sans-serif;
  background: $mainLightBlue;
  color: $mainBlack;
}
